.ComparisonPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 40px;
    width: 85%;
    height: 85%;
    overflow: auto;
}


.Navigation {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: auto;
}

.ImagesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.OptionWrapper {
    min-width: 200px;
    max-width: 200px;
}
