.StarshipImgWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 40px;
    border: none;
    background-color: white;
    margin-left: 5px;
}

.StarshipImg {
    height: auto;
}

.Button {
    margin-left: auto;
}