
.ButtonText {
    border: none;
    background-color: black;
    border-radius: 10%;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px;
}

.ButtonIcon {
    border: none;
    background: inherit;
    min-width: 100px;
    max-width: 100px;
    color: black;
}
