.PageTitle {
    margin: 10px;
    background-color: black;
    padding: 10px;
    min-width: 300px;
    border-radius: 40px;
} 


.Text {
    color: white;
    font-family: "AnakinMono";
    text-align: center;
}
