.Input {
    border: none;
    font-size: 17px;
    width: 80%;
}

.Container {
    border: 1px solid black;
    border-radius: 15px;
    height: 35px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;

}
