.StarshipsOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.StarshipsOptionsValue {
    text-align: end;
    margin-left: 5px;
}

.CriticalValue {
    
}

.MaxValue {
    font-weight: bold;
}

.MinValue {
    color: gray;
    text-decoration: underline;
    
}