@font-face {
    font-family: "AnakinMono";
    src: url("./assets/anakinmono.ttf");
}


.App {
    font-family: "Gill Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('./pictures/bacgroundImg.jpeg') repeat;
}