.MainPage {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 85%;
        height: 95%;
        border-radius: 40px;
        background-color: white;
        margin: 10px;
        overflow: auto;
}

.Text {
        color: white;
        font-family: "AnakinMono";
}

.Container {
        margin: 10px;
        background-color: black;
        padding: 10px;
        min-width: 300px;
        border-radius: 40px;
}

.Button {
        padding: 10px;
        position: sticky;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
}