.CardOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.CardOptionsValue {
    text-align: end;
    margin-left: 5px;
}