.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: none;
    box-shadow: 10px 10px 10px 10px rgba(38, 41, 43, .2);
    margin: 20px;
    padding: 10px;
    font-size: 8px;
    max-width: 40%;
    min-width: 200px;
    
}


.StarshipImg {
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: none;
    background-color: white;
    width: 90%;
    height: 50%; 
}

.Name {
    display: flex;
    justify-content: center;
}

.Text {
    font-size: 2vw;
    font-family: "AnakinMono";
    text-align: center;
}

.Options {
    display: flex;
    justify-content: center;
    max-width: 90%;

}

.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    font-size: 1vw;  
}

.ButtonContainer {
    display: flex;
    justify-content: center;
}